{% load static %} {% block content %} {% include "base2.html" %}

<form method="POST" style="width: 60%; height: 60%; margin-top: 20%;" class="text-center container-fluid" enctype="multipart/form-data">

    {% csrf_token %}

    <label for="files" class="form-label"> <h4> Choose a profile picture. </h4></label>
    <input class="form-control form-control-lg btn btn-primary rounded text-center mb-4 upload" name="image_upload" id="files" type="file" accept="image/*" />

    <button type="submit" class="btn btn-primary rounded">Save</button>

</form>


<script>
    document.getElementsByClassName('search-container')[0].style.display = 'none';
</script>


{% endblock content %}