<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DigiMotif</title>
    <link rel="stylesheet" href="static/webdev_business/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="static/webdev_business/slick/slick.css">
    <link rel="stylesheet" href="static/webdev_business/slick/slick-theme.css">
    <link rel="stylesheet" href="static/webdev_business/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="static/webdev_business/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/webdev_business/css/templatemo-style.css" />

    <link rel="shortcut icon" type="image/png" href="static/webdev_business/img/DigiMotif_logo.png">
    <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
</head>

<body>
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    <a href="#hero" class="navbar-brand" style="font-size:xxx-large;">DigiMotif <br> <p style="font-size:medium">an Aggred company</p></a>

                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#introduction">Our Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#work">What we offer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="text-center tm-hero-text-container">
            <div class="tm-hero-text-container-inner">
                <h2 class="tm-hero-title">Web Development Services</h2>
                <p class="tm-hero-subtitle">
                    Quality Website that you deserve.
                    <!-- <br />by TemplateMo -->
                </p>
            </div>
        </div>

        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>
    </section>

    <section id="introduction" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="static/webdev_business/img/web_dev.png" alt="Image" class="img-fluid tm-intro-img" style="width: 100%; height:auto;" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Our Mission</h2>
                        <p class="mb-4 tm-intro-text">
                            At DigiMotif, our mission is to build <strong>beautiful and reliable</strong> websites that display trust.
                        </p>
                        <p class="mb-5 tm-intro-text">
                            We strive for your satisfaction. We offer a variety of websites for you to choose from. Click the button below to see the various options.
                        </p>
                        <div class="tm-next">
                            <a href="#work" class="tm-intro-text tm-btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <i class="fas fa-4x fa-tag text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Affordable Pricing</h4>
                    <p>
                        We offer the lowest prices in the market, starting from as low as &#8377; 999.
                    </p>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fas fa-4x fa-user text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">24/7 Customer Support for our clients</h4>
                    <p>
                        If you purchase our service, we will offer you 24/7 support regarding any changes or updates to your website. Your satisfaction is our goal.
                    </p>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fas fa-4x fa-ban text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Cancel anytime!</h4>
                    <p>
                        Don't like our work? Cancel anytime you want! Although we are pretty sure you wouldn't want to leave us (wink). </p>
                </div>
            </div>
    </section>
    <section id="work" class="tm-section-pad-top">
        <div class="container tm-container-gallery">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="tm-text-primary tm-section-title mb-4">What we offer</h2>
                    <br>
                    <p class="mx-auto tm-work-description" style="margin:0%;">
                        Choose the type of website you want from below, each has a unique rate.
                        <br> Additionally, you can get the following features at a price of &#8377; 399/month :
                    </p>
                    <br>
                    <p class="mx-auto tm-work-description">
                        <p style="margin: 0px;">** We'll make any updates/changes to the website as per your request.</p>
                        <p style="margin: 0px;">** 24/7 support for your queries.</p>
                        <p style="margin: 0px;">** Our team will make important improvements in the website and keep a check on the load times, SEO, Search Ranking and much more that'll help attract more traffic to your site.</p>
                        <p style="margin: 0px;">** Cancel anytime you want (if it has been more than 15 days then you will be charged for the whole month).</p>

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mx-auto tm-gallery-container">
                        <div class="grid tm-gallery">
                            <a href="https://technext.github.io/clark/index.html">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="static/webdev_business/img/pricing/portfolio_website.png" alt="Image" class="img-fluid cstm-image">
                                    <figcaption>
                                        <h2 style="font-size: x-large;"><i> <span>Portfolio Website</span> <br> &#8377; 2,000</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="https://doctortemplate.webflow.io/">
                                <figure class="effect-honey tm-gallery-item text-center">
                                    <img src="static/webdev_business/img/pricing/professional_website.png" alt="Image" class="img-fluid cstm-image">
                                    <figcaption class="text-center">
                                        <h2 style="font-size: x-large;"><i><span>Professional Website</span> <br> &#8377; 3,000</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="https://bootstrapmade.com/demo/Lumia/">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="static/webdev_business/img/pricing/landing_page.png" alt="Image" class="img-fluid cstm-image">
                                    <figcaption style="text-align: center;">
                                        <h2 style="font-size: x-large;"><i><span>Landing Page</span> <br> &#8377; 4,000</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="https://preview.colorlib.com/#magdesign">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="static/webdev_business/img/pricing/blog_website.png" alt="Image" class="img-fluid cstm-image">
                                    <figcaption>
                                        <h2 style="font-size: x-large;"><i> <span>Blogs</span> <br> &#8377; 7,500</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="https://www.bootdey.com/snippets/preview/bs4-forum?full-screen=true">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="static/webdev_business/img/pricing/online_forum.png" alt="Image" class="img-fluid cstm-image">
                                    <figcaption>
                                        <h2 style="font-size: x-large;"><i><span>Online Forums</span> &#8377;10,000 </i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="https://wpthemesgrid.com/themes/free/eshop/">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="static/webdev_business/img/pricing/ecommerce.png" alt="Image" class="img-fluid cstm-image">
                                    <figcaption>
                                        <h2 style="font-size: x-large;"><i> <span>E-commerce Website</span><br>&#8377;15,000</i></h2>
                                    </figcaption>
                                </figure>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4 tm-section-title">Contact Us</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>
                    <p class="mb-5">
                        Interested in a free demo? Contact us and we'll get back to you right away!
                        <br> We will build a free demo website for your business free of cost - If you don't like it, don't pay for it!
                    </p>
                </div>

                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="tel:9643816417" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-phone mr-4"></i>
                        <span class="mb-0">+91 9643816417</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="mailto:farhan@aggred.com" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-envelope mr-4"></i>
                        <span class="mb-0">farhan@aggred.com</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="https://www.google.com/maps" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Noida, India</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
                        <button type="submit" class="btn tm-btn-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="text-center small tm-footer">
            <p class="mb-0">
                Company - Aggred &nbsp; &nbsp; &nbsp; Copyright &copy; 2022
            </p>
        </footer>
    </section>
    <script src="static/webdev_business/js/jquery-1.9.1.min.js"></script>
    <script src="static/webdev_business/slick/slick.min.js"></script>
    <script src="static/webdev_business/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/webdev_business/js/jquery.singlePageNav.min.js"></script>
    <script src="static/webdev_business/js/bootstrap.min.js"></script>
    <script>
        function getOffSet() {
            var _offset = 450;
            var windowHeight = window.innerHeight;

            if (windowHeight > 500) {
                _offset = 400;
            }
            if (windowHeight > 680) {
                _offset = 300
            }
            if (windowHeight > 830) {
                _offset = 210;
            }

            return _offset;
        }

        function setParallaxPosition($doc, multiplier, $object) {
            var offset = getOffSet();
            var from_top = $doc.scrollTop(),
                bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
            $object.css({
                "background-position": bg_css
            });
        }

        // Parallax function
        // Adapted based on https://codepen.io/roborich/pen/wpAsm        
        var background_image_parallax = function($object, multiplier, forceSet) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            // $object.css({"background-attatchment" : "fixed"});

            if (forceSet) {
                setParallaxPosition($doc, multiplier, $object);
            } else {
                $(window).scroll(function() {
                    setParallaxPosition($doc, multiplier, $object);
                });
            }
        };

        var background_image_parallax_2 = function($object, multiplier) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            $object.css({
                "background-attachment": "fixed"
            });
            $(window).scroll(function() {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({
                    "background-position": bg_css
                });
            });
        };

        $(function() {
            // Hero Section - Background Parallax
            background_image_parallax($(".tm-parallax"), 0.30, false);
            background_image_parallax_2($("#contact"), 0.80);

            // Handle window resize
            window.addEventListener('resize', function() {
                background_image_parallax($(".tm-parallax"), 0.30, true);
            }, true);

            // Detect window scroll and update navbar
            $(window).scroll(function(e) {
                if ($(document).scrollTop() > 120) {
                    $('.tm-navbar').addClass("scroll");
                } else {
                    $('.tm-navbar').removeClass("scroll");
                }
            });

            // Close mobile menu after click 
            $('#tmNav a').on('click', function() {
                $('.navbar-collapse').removeClass('show');
            })

            // Scroll to corresponding section with animation
            $('#tmNav').singlePageNav();

            // Add smooth scrolling to all links
            // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 400, function() {
                        window.location.hash = hash;
                    });
                } // End if
            });

            // Pop up
            //$('.tm-gallery').magnificPopup({
            //    delegate: 'a',
            //    type: 'image',
            //    gallery: {
            //        enabled: true
            //    }
            //});

            // Gallery
            $('.tm-gallery').slick({
                dots: true,
                infinite: false,
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [{
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 2
                    }
                }, {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2
                    }
                }, {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }]
            });
        });
    </script>

    <!-- SCRIPT TO CHANGE PRICING BACKGROUND IMAGE AS PER SCREEN DIMENSIONS -->
    <script>
        cstm_images = document.getElementsByClassName('cstm-image');
        if (window.innerWidth >= 1024) {

            cstm_images[0].src = "static/webdev_business/img/Pricing_laptop/portfolio_website.png"
            cstm_images[1].src = "static/webdev_business/img/Pricing_laptop/professional_website.png"
            cstm_images[2].src = "static/webdev_business/img/Pricing_laptop/landing_page.png"
            cstm_images[3].src = "static/webdev_business/img/Pricing_laptop/blog_website.png"
            cstm_images[4].src = "static/webdev_business/img/Pricing_laptop/online_forum.png"
            cstm_images[5].src = "static/webdev_business/img/Pricing_laptop/ecommerce.png"

        } else {
            cstm_images[0].src = "static/webdev_business/img/Pricing_phone/portfolio_website.png"
            cstm_images[1].src = "static/webdev_business/img/Pricing_phone/professional_website.png"
            cstm_images[2].src = "static/webdev_business/img/Pricing_phone/landing_page.png"
            cstm_images[3].src = "static/webdev_business/img/Pricing_phone/blog_website.png"
            cstm_images[4].src = "static/webdev_business/img/Pricing_phone/online_forum.png"
            cstm_images[5].src = "static/webdev_business/img/Pricing_phone/ecommerce.png"

        }
    </script>
    <!--  SCRIPT TO SET BACKGROUND IMAGE OF THE CONTACT US SECTION -->
    <script>
        document.getElementById('contact').style.backgroundImage = "url('../img/the-town-bg-02.png')";
    </script>
</body>

</html>